* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,html{
    font-family: 'Hind', sans-serif;
}

/* start header */
  header {
      position: absolute;
      z-index: 2;
      width: 100%;
      top: 0;
      left: 0;
    }
  
  header .navbar-brand i{
    font-size: 45px;
    color: #35a22c;
  }
  
  header .navbar-brand{
    font-size: 36px;
    color: #fff;
  }
  
  header .navbar-toggler{
    background-color: #35a22c;
  }

  header .navbar-toggler:hover{
    background-color: #0ea8cf;
  }

  /* end header */
  
  /* start carousel  */
  #portfolio__carousel .carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
  }
  
  .carousel-caption img {
    width: 140px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
  .carousel-indicators {
    bottom: 30px;
  }

  #portfolio__carousel .carousel-item{
    height: 100vh;
  }
  .carousel-item {
    /* position: relative; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .carousel-item:nth-child(1){
    background-image: url(./image/finland.jpg);
  }

  .carousel-item:nth-child(2){
    background-image: url(./image/mountains.jpg);
  }

  .carousel-item:nth-child(3){
    background-image: url(./image/mountains-1.jpg);
  }
  .carousel-item::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
  }

  .carousel-item img{
    object-fit: cover;
  }
  #portfolio__carousel .carousel-indicators .active {
    /* opacity: 1; */
    background-color: #35a22c;
  }
  
  header .nav-item .nav-link {
    position: relative;
    color: white;
    margin: 0 20px;
    transition: 0.3s;
    overflow: hidden;
  }
  header .nav-item .nav-link:hover {
    color: #35a22c;
  }
  header .nav-item .nav-link::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background: #35a22c;
    bottom: 0px;
    left: 0;
    transform: translateX(-100%);
    transition: 0.3s;
  }
  header .nav-item .nav-link:hover::after {
    transform: translateX(0px);
  }
  
  .nav-item.active .nav-link {
    color: #35a22c;
  }
  .nav-item.active .nav-link::after {
    transform: translateX(0px);
  }

  #portfolio__carousel .carousel-caption h5{
    font-size: 56px;
    line-height: 65px;
  }

  #portfolio__carousel .carousel-caption p{
    font-size: 24px;
  }
  /* end carousel  */

/* Start project */

#portfolio__project .nav{
    justify-content: center;
}

#portfolio__project .card{
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
     rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin-top: 20px;    
}

#portfolio__project .nav-pills .nav-link.active{
    background-color: #35a22c;
    color: white;
    border-color: #35a22c;
}

#portfolio__project .nav-pills .nav-link{
    color: #1a1d2d;
    border: 1px solid #1a1d2d;
    margin: 0 10px;
}

#portfolio__project .card-body{

    border: 2px solid transparent;
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
    transition: all 0.5s;
}

#portfolio__project .card:hover .card-body
{
    border-color: #35a22c;
}

#portfolio__project .card:hover h3{
  color: #35a22c;
}
/* End project */

/* Start feature */
#portfolio__feature{
  background: url(./image/3.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0 120px;
  background-attachment: fixed;
  position: relative;
}

#portfolio__feature .overlay{
  background: rgba(7,10,12,.72);
}

.overlay{
  background: rgba(39,43,54,.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#portfolio__feature .heading{
  position: relative;
}

#portfolio__feature .heading p{
  line-height: 24px;
}

.feature__item{
  padding: 40px 40px;
  transition: .3s;
  border-radius: 10px;
  background: rgba(255,255,255,.1);
  border: 1px solid rgba(255,255,255,.1);
  backdrop-filter: blur(3px);
  transition: all .5s;
}

.feature__item:hover{
  background: #000;
  border-color: #fff;
}

.feature__item i{
  font-size: 48px;
  color: #35a22c;
}

.feature__item h4{
  font-size: 20px;
  line-height: 30px;
  padding-top: 25px;
  font-weight: 800;
  color: #fff;
}

.feature__item p{
  padding-top: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

/* End feature */

/* Start award */
#portfolio__award{
  position: relative;
  color: #585858;
  padding: 70px 0;
}

.award__bg{
  background-image: url(./image/memphis_3.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.award__left{
  background: rgba(255,255,255,.25);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  padding: 45px;
}

.award__left h2{
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}

.award__left p{
  color: #585858;
  line-height: 24px;
}

.award__right{
  padding: 45px 0;
}
/* End award */

/* Start footer */
footer{
  background-color: #222;
}

footer a{
  color: #aaa;
}

.footer__main a{
  margin-right: 10px;
}

.footer__main a:hover{
  text-decoration: none;
  color: #35a22c;
}

.footer__main i{
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  border: 1px solid #454545;
  transition: all 0.5s;
}

.footer__main i:hover{
  border-color: #35a22c;
}

.footer__copyrights{
  border-top: 1px solid #454545;
  padding-top: 30px;
  margin-top: 30px;
}

footer p{
  color: #aaa;
  margin: 0;
}

.footer__copyrights a{
  text-decoration: none;
  transition: all 0.5s;
}

.footer__copyrights a:hover{
  color: #35a22c;
}
/* End footer */

@media screen and (max-width:991.98px) {
  header .navbar-collapse{
    background-color: white;
  }

  #navbarSupportedContent .nav-item{
    margin: 0;
    padding: 0 10px;
  }

  #navbarSupportedContent .nav-item:hover{
    background-color: #35a22c;
  }

  #navbarSupportedContent .nav-item .nav-link{
    color: #35a22c;
  }

  #navbarSupportedContent .nav-item:hover .nav-link{
    color: #fff;
  }

  header .nav-item .nav-link:hover::after,
  .nav-item.active .nav-link::after{
    transform: translateX(-100%);
  }
}

@media screen and (max-width:575.98px) {
  #portfolio__project .nav-pills .nav-link{
    padding: 0.5rem;
  }

  #portfolio__award .award__bg{
    background-size: cover;
  }
}

@media screen and (max-width:415px) {
  #portfolio__project .nav-pills .nav-link{
    padding: 1rem;
  }
}


@media screen and (max-width:767.98px) {
  #portfolio__project .nav-pills .nav-link{
    padding: 0.5rem;
  }
}